body {
    background-color: #000000;
    background-size: 200% 200%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#phaser-container {
    position: absolute;
    left: 20px;
    background-color: #4545AA;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

#game-container {
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -640px;
    width: 1280px;
    height: 100%;
}