body {
    background-color: #000000;
    background-size: 200% 200%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#phaser-container {
    position: absolute;
    left: 50%;
    margin-left: -640px;
    background-color: #4545AA;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}